/*koden er inspirert av denne tutorialen, og jeg har hentet herfra for å få fane funkjsonalitet.

https://www.w3schools.com/howto/howto_js_tabs.asp */

body {
    background-color: #E1E5EE;
    font-family: "Montserrat";
   }
   

.tab-system-wrapper {
    display: flex;
    column-gap: 10px;
    justify-content: space-between; 
    background-color: #f1f1f1;
    margin: 10.5rem;
    flex-wrap: wrap; 
}

.tablinks {
    color: #fff;
    background-color: #2A324B;
    flex: 1; 
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 10px;
    transition: 0.3s;
    font-weight: bold;

    
}

.tablinks:hover {
    background-color: #ddd;
}

.tablinks.active {
    color: black;
    background-color: #fff;
}

.tabcontent {
    background-color: #fff;
    font-size: small;
    display: none;
    padding: 50px 50px;
    padding-right: 15rem;
    border-top: none;
    clear: both;
}
